@tailwind base;

@tailwind components;

.btn {
  @apply bg-blueg7 text-xs text-white py-1 px-4 rounded-sm 
}

.btn:hover {
  @apply bg-blue-700
}

h1 {
  @apply font-semibold text-xl block my-2
}

h2 {
  @apply font-semibold text-lg block mb-2
}

.link {
  @apply underline text-blueg7 text-sm
}

.link:hover {
  @apply no-underline
}

.g7_select {
  @apply  text-sm w-full p-0 rounded bg-white border border-gray-500
}

@tailwind utilities;