<template>
<div class="sm:hidden bg-gray-300 ">
    <button @click="onClick" type="button" class=" block text-blue-900 hover:text-blue-700  focus:outline-none">
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"/>        
        </svg> 
    </button>
</div> 
</template>

<script>
export default {
    props: ['is_filter_open'],
    data() {
        return {
            isOpen: this.is_filter_open,
        }
    },
    watch: {
      is_filter_open: function(newVal, oldVal) { 
          this.isOpen = newVal
      }
    },
    methods: {
        onClick() {
            this.$emit('filter_opened')
        }
        
    }
}
</script>
