<template>
  <header class="bg-blueg7 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <div>
        <a href="/" class="flex items-center text-gray-100 hover:text-gray-500">
          <img class="h-8" src="/img/logo.png" alt="Garage7">
          <span class="ml-2 font-semibold text-xl">Garage7</span>
        </a>
        
      </div>
      <div class="sm:hidden">
        <button @click="isOpen = !isOpen" type="button" class="block text-gray-500 hover:text-white focus:text-white focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <nav :class="isOpen ? 'block' : 'hidden'" class="sm:block">
      <div class="px-2 pt-2 pb-4 sm:flex sm:p-0">
        <a href="/vehicles" class="block px-2 py-1 text-gray-500  hover:text-white ">Buscar vehículo</a>
        <a v-if="isUserAuth" href="/user/vehicles/create" class="mt-1 block px-2 py-1 text-gray-500  hover:text-white sm:mt-0 sm:ml-2">Publicar vehículo</a>
        <a v-if="isUserAuth" href="/user/garages/create" class="mt-1 block px-2 py-1 text-gray-500  hover:text-white sm:mt-0 sm:ml-2">Registrar concesionario</a>
        <a v-if="!isUserAuth" href="/login" class="mt-1 block px-2 py-1 text-gray-500  hover:text-white sm:mt-0 sm:ml-2">Iniciar sesión</a>
        <a v-if="!isUserAuth" href="/register" class="mt-1 block px-2 py-1 hover:bg-transparent bg-blue-500 hover:text-gray-500 text-white  px-4 border border-white  rounded-full sm:mt-0 sm:ml-2">Crea tu cuenta</a>
        <AccountDropdown :avatar_url="image_url" :user="user" 
          :csrf_token="csrf_token" v-if="isUserAuth" class="hidden sm:block sm:ml-6" >
        </AccountDropdown>
      </div>
      <div v-if="isUserAuth" class="px-4 py-5 border-t border-gray-500 sm:hidden">
        <div class="flex items-center">
          <img class="h-8 w-8 border-2 border-white rounded-full object-cover" :src="image_url" :alt="user.name">
          <span class="ml-3 font-semibold text-white">{{ user.name }} {{ user.lastname }}</span>
        </div>
        <div class="mt-4">
          <a href="/user/profile" class="flex items-center mt-3 block text-gray-400 hover:text-white"><svg class="h-4 w-4 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 5a5 5 0 0 1 10 0v2A5 5 0 0 1 5 7V5zM0 16.68A19.9 19.9 0 0 1 10 14c3.64 0 7.06.97 10 2.68V20H0v-3.32z"/></svg>
        <span>Mi cuenta</span></a>
          <a href="/user/vehicles" class="flex items-center mt-3 block text-gray-400 hover:text-white"><svg class="h-4 w-4 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2 14v-3H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h1l4-7h8l4 7h1a1 1 0 0 1 1 1 1 1 0 0 1-1 1h-1v6a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1H5v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3zm13.86-5L13 4H7L4.14 9h11.72zM5.5 14a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm9 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/></svg>
        <span>Mis vehículos</span></a>
          <a href="/user/garages" class="flex items-center mt-3 block text-gray-400 hover:text-white"><svg class="h-4 w-4 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"/></svg>
        <span>Mis concesionarios</span></a>
          <a href="/changePassword" class="flex items-center mt-3 block text-gray-400 hover:text-white"><svg class="h-4 w-4 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 8V6a6 6 0 1 1 12 0h-3v2h4a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"/></svg>
        <span>Cambiar contraseña</span></a>
      
          <a href="/logout" class="flex items-center mt-6 block text-gray-400 hover:text-white"
            onclick="event.preventDefault();
                     document.getElementById('logout-form').submit();"><svg class="h-4 w-4 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.16 4.16l1.42 1.42A6.99 6.99 0 0 0 10 18a7 7 0 0 0 4.42-12.42l1.42-1.42a9 9 0 1 1-11.69 0zM9 0h2v8H9V0z"/></svg>
          <span>Cerrar sesión</span></a>
          <form id="logout-form" action="/logout" method="POST" style="display: none;">
              <input type="hidden" name="_token" :value="csrf_token">
          </form>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>

export default {
  props: ['user', 'avatar_url'],
  data() {
    return {
      csrf_token: '',
      isOpen: false,
      image_url: this.avatar_url
    }
  },
  created() {
    //this.loadimage(0);
    this.csrf_token = document.head.querySelector('meta[name="csrf-token"]').content;
  },
  computed: {
    isUserAuth() {
      return this.user != '-1';
    },
  },
  watch: {
      avatar_url: function(newVal, oldVal) { 
          this.image_url = newVal
      }
  },
  methods: {
    loadimage(event) { 
      
      if (this.isUserAuth == true) {
        axios.get('/api/user/profile/avatar-url')
        .then(response => {
            if (response.data.avatar_url!="")
                this.image_url = response.data.avatar_url              
            })
      }     
      
    },
  }
}
</script>
