<template>

    <select @change="changeOrder" 
        v-model="order" name="order" 
        class="g7_select">
        <option value="">Seleccione...</option>
        <option value="price_desc">Precio (más alto a más bajo)</option>
        <option value="price_asc">Precio (más bajo a más alto)</option>
        <option value="date_desc">Publicación (más reciente a más antigua)</option>
        <option value="date_asc">Publicación (más antigua a más reciente)</option>
    </select>

</template>
<script>
export default {
    props: ['old'],
    data() {
        return {
            order: this.old
        }
    },
    methods: {
        changeOrder() {
            this.$emit('order-changed')
        }
    }
}
</script>