<template>
    <div>
        <div class="text-center">
            <img v-if="isReady" class="w-20 h-20 object-cover object-center inline-block"                   
                  :src="image_url" 
                  id="avatar_logo_img">  
            <div v-else class="w-20 h-20 border border-gray-500 flex items-center inline-block mx-auto">
                <span class="text-xs">Cargando...</span>
            </div>               
        </div>
        <div v-if="isReady" class="text-center">     
            <input type="file" 
              id="imgupload"
              style="display:none"
              name="photo" 
              @change="sendImage()">
            <button id="OpenImgUpload" 
                    @click="openFileBrowser()"
                    class="m-0 w-20  inline-block btn">
                Cambiar
            </button>
        </div>
    </div>
</template>

<script>
export default { 
    props: ['avatar_url'],       
    data() {
        return {
            image_url: this.avatar_url,
            isReady: false,
        }
    },
    created() {
        //this.loadUserInfo()
    },
    watch: {
      avatar_url: function(newVal, oldVal) { 
          this.image_url = newVal
          this.isReady = true
      }
    },
    methods: {
        sendImage() {    
            this.isReady = false        
            var formData = new FormData();
            var imagefile = document.querySelector('#imgupload');
            formData.append("photo", imagefile.files[0]);
            axios.post('/api/user/profile/avatar', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(response => {
                
                this.$emit('avatarchanged');
                //this.loadUserInfo()
            }).catch(error => {
                console.log('error')
            })
        },
        openFileBrowser() {
            document.querySelector('#imgupload').click();
        },
        loadUserInfo() {
            this.isReady = false
            /*axios.get('/api/user/profile/avatar-url')
            .then(response => {
                if (response.data.avatar_url!="")
                    this.image_url = response.data.avatar_url
                    this.isReady = true
                })*/
        }
    }
}
</script>