<template>
    <select name="brand_id" 
            @change="onChange"
            v-model="id"
            class="g7_select" >
        <option value="">Todas</option>
        <option v-for="item in brands" 
                :key="item.id"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
export default {
    props: ['old'],
    data() {
        return {
            brands: [],
            id: this.old
        }
    },
    created() {
        this.getData()
    },
    methods: {
        getData() {
            axios.get('/api/brands?is_active=1')
                    .then(response => {
                    this.brands = response.data.data
                    
                    if (this.brands.length && this.old == null) {
                        
                        this.id = this.brands[0].id
                    }    
                    else {
                        this.id = this.old
                    } 
                    this.onChange()                                 
                })
                .catch(error => {
                    console.log('Error al obtener los tipos de vehiculo.')
                });
        },
        onChange() {
            this.$emit('brand-selected', this.id)
        },
    }
}
</script>