<template>
    <div class="flex flex-wrap items-center">
        <span class="text-sm">Desde:</span> <input class="border border-gray-500 text-sm inline w-1/4 rounded-lg px-1" name="year_from" v-model="year_from">
        <span class="text-sm">Hasta: </span> <input class="border border-gray-500 text-sm inline w-1/4 rounded-lg px-1" name="year_to" v-model="year_to">
    </div>
</template>

<script>
export default {
    props: ['old_year_from', 'old_year_to'],
    data() {
        return {
            year_from: this.old_year_from,
            year_to: this.old_year_to,
        }
    },
    methods: {
        onChange() {
            this.$emit('year-selected', this.id)
        },
    }
}
</script>