<template>
    <select name="vehicle_type_id" 
            @change="onChange()"
            v-model="id"
            class="g7_select" >
        <option value="">Todos</option>
        <option v-for="(item, index) in vehicle_types" 
                :key="index"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['old'],
        data() {
            return {
                vehicle_types: [],
                id: this.old,
            }
        },
        created() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/api/vehicle-types?is_active=1')
                     .then(response => {
                        this.vehicle_types = response.data.data
                        
                        if (this.vehicle_types.length && this.old == null) {
                            
                            this.id = this.vehicle_types[0].id
                        }    
                        else {
                            this.id = this.old
                        } 
                        this.onChange()                                 
                    })
                    .catch(error => {
                        console.log('Error al obtener los tipos de vehiculo.')
                    });
            },
            onChange(index) {                
                this.$emit('type-selected', this.id)
            },
        }
    }
</script>