<template>
    <select name="model_id" 
            @change="onChange"
            v-model="id"
            class="g7_select">
        <option value="">Seleccione...</option>
        <option v-for="item in models" 
                :key="item.id"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['brand_id', 'old'],
        data() {
            return {
                models: [],
                id: this.old
            }
        },
        created() {
           this.getData()
        },
        methods: {
            getData() {
                if (this.brand_id != 0) {
                    axios.get('/api/brands/' + this.brand_id + '/models')
                        .then(response => {
                            this.models = response.data.data
                            if (this.models.length && this.old == null) {
                                this.id = this.models[0].id
                            }   
                            else {
                                this.id = this.old
                            }                                   
                        })
                        .catch(error => {
                            console.log('Error al obtener los modelos.')
                        });
                } else {
                    this.models = []
                }
                
            },
            onChange() {
                this.$emit('model-selected', this.id)
            },
        },
        watch: {
            brand_id: function(newVal, oldVal) {
                this.brand_id = newVal;
                this.getData()
            }
        },
    }
</script>
