<template>
    <div class="flex flex-wrap items-center">
        <span class="text-sm">Desde:</span> <input class="border border-gray-500 text-sm inline w-1/4 rounded-lg px-1" name="price_from" v-model="price_from">
        <span class="text-sm">Hasta: </span> <input class="border border-gray-500 text-sm inline w-1/4 rounded-lg px-1" name="price_to" v-model="price_to">
    </div>
</template>

<script>
export default {
    props: ['old_price_from', 'old_price_to'],
    data() {
        return {
            price_from: this.old_price_from,
            price_to: this.old_price_to,
        }
    },
    methods: {
        onChange() {
            this.$emit('price-selected', this.id)
        },
    }
}
</script>