<template>
    <select name="transmission" 
            @change="onChange"
            v-model="id"
            class="g7_select">
        <option value="">Todas</option>
        <option value="Manual">Manual</option>
        <option value="Automática">Automática</option>
    </select>
</template>

<script>
export default {
    props: ['old'],
    data() {
        return {
            id: this.old
        }
    },
    methods: {
        onChange() {
            this.$emit('transmission-selected', this.id)
        },
    }
}
</script>