<template>
    <select name="state_id" 
            @change="onChange"
            v-model="id"
            >
        <option value="">Seleccione...</option>
        <option v-for="item in states" 
                :key="item.id"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['old'],
        data() {
            return {
                states: [],
                id: this.old
            }
        },
        created() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/api/states?is_active=1')
                     .then(response => {
                        this.states = response.data.data
                        
                        if (this.states.length && this.old == null) {
                            
                            this.id = this.states[0].id
                        }    
                        else {
                            this.id = this.old
                        } 
                        this.onChange()                                 
                    })
                    .catch(error => {
                        console.log('Error al obtener los estados.')
                    });
            },
            onChange() {
                this.$emit('state-selected', this.id)
            },
        }
    }
</script>
