<template>
    <select name="fuel" 
            @change="onChange"
            v-model="id"
            class="g7_select">
        <option value="">Todos</option>
        <option value="Gasolina">Gasolina</option>
        <option value="Diésel">Diésel</option>
        <option value="Gas">Gas</option>
        <option value="Eléctrico">Eléctrico</option>
    </select>
</template>

<script>
export default {
    props: ['old'],
    data() {
        return {
            id: this.old
        }
    },
    methods: {
        onChange() {
            this.$emit('fuel-selected', this.id)
        },
    }
}
</script>