<template>
    <select name="color_id" 
            @change="onChange"
            v-model="id"
            class="g7_select" >
        <option value="">Todos</option>
        <option v-for="item in colors" 
                :key="item.id"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['old'],
        data() {
            return {
                colors: [],
                id: this.old
            }
        },
        created() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/api/colors?is_active=1')
                     .then(response => {
                        this.colors = response.data.data
                        
                        if (this.colors.length && this.old == null) {
                            
                            this.id = this.colors[0].id
                        }    
                        else {
                            this.id = this.old
                        } 
                        this.onChange()                                 
                    })
                    .catch(error => {
                        console.log('Error al obtener los tipos de vehiculo.')
                    });
            },
            onChange() {
                this.$emit('color-selected', this.id)
            },
        }
    }
</script>