<template>
    <select name="sector_id" 
            @change="onChange"
            v-model="id">
        <option value="">Seleccione...</option>
        <option v-for="item in sectors" 
                :key="item.id"
                :value="item.id">{{ item.name }}</option>
    </select>
</template>

<script>
    export default {
        props: ['state_id', 'old'],
        data() {
            return {
                sectors: [],
                id: this.old
            }
        },
        created() {
           
        },
        methods: {
            getData() {
                if (this.state_id != 0) {
                    axios.get('/api/states/' + this.state_id + '/sectors')
                        .then(response => {
                            this.sectors = response.data.data
                            if (this.sectors.length && this.old == null) {
                                this.id = this.sectors[0].id
                            }   
                            else {
                                this.id = this.old
                            }                                   
                        })
                        .catch(error => {
                            console.log('Error al obtener los sectores.')
                        });
                }
                
            },
            onChange() {
                this.$emit('sector-selected', this.id)
            },
        },
        watch: {
            state_id: function(newVal, oldVal) { 
                this.getData()
            }
        },
    }
</script>
