<template>
    <div class="container"> 
        <div v-if="isReady" class="text-center">     
            <input type="file" 
            id="imgupload"
            style="display:none"
            name="photo" 
            @change="sendImage()">
            <button id="OpenImgUpload" 
                    @click="openFileBrowser()"
                    class="m-0 w-40  inline-block btn">
                Agregar foto
            </button>
        </div>
        <div class="flex flex-wrap text-center">
            <div v-for="photo in photos" :key="photo.id" class="mt-4 mx-2 inline">
                <img class="w-40 h-40 object-cover object-center" :src="photo.url" >
                <button class="btn" @click="eliminar(photo.id)" >Eliminar</button>
            </div>
            
        </div>
    </div>
</template>

<script>
    export default {
        props: ['vehicle_id'],
        data() {
            return {
                photos: []
            }
        },
        created() {
            this.getPhotos()
        },
        computed: {
            isReady() {
                
                return this.photos.length < 9
            }
        },
        methods: {
            sendImage() { 
                var formData = new FormData();
                var imagefile = document.querySelector('#imgupload');
                formData.append("photo", imagefile.files[0]);
                axios.post('/api/vehicles/' + this.vehicle_id + '/photos', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.getPhotos()                    
                }).catch(error => {
                    console.log('error al guardar la foto del vehiculo')
                })
            },
            openFileBrowser() {
                document.querySelector('#imgupload').click();
            },
            getPhotos() {
                axios.get('/api/vehicles/' + this.vehicle_id + '/photos')
                .then(response => {
                    this.photos = response.data.photos

                })
                .catch(error => {
                    console.log('error al obtener las fotos del vehiculo')
                })
            },
            eliminar(id) {
                const eliminar = confirm('¿Seguro que desea eliminar esta foto?');
                if(eliminar)
                axios.delete('/api/vehicles/' + this.vehicle_id + '/photos/' + id)
                .then(response => {
                    console.log('deleted')
                    this.getPhotos()
                })
                .catch(error => {
                    console.log('error al eliminar la foto del vehiculo')
                })
            },
        }
    }
</script>
